.lead {
    margin: 0 auto;
    text-align: center;
    max-width: 984px;
}


@media screen and (max-width: 1024px) {
    .lead {
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 0;
    }
}
