.cover__title {
    margin: 0;
    max-width: 560px;
    font-size: 72px;
    line-height: 1.05;
    font-family: Inter-Bold;
    text-align: center;
    color: #fff;
    z-index: 2;
}

@media screen and (max-width: 625px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
    }
}

